body{
    background-size: cover;
    background-image: url('cse.jpg');
}
.video_selector{
    position: fixed;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -999;
}
div{
    font-family: verdana;
    font-weight: 900;
    color:white;
    text-align: center;
    margin-top: 200px;
}
*{
    font-family: 'Gloria Hallelujah', cursive;
}
